{% extends 'layout.html' %}

{% block input %}
<script>
    let autocomplete;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(document.getElementById("input"), 
        {
            componentRestrictions: {'country': ['us']},
            fields: ['plae_id', 'geometry', 'name']
        });
    }
</script>
{% endblock %}

{% block bewaremap %}
<div style="margin-top: -8em;">
<script type="text/javascript">

// All icon types for the markers
    var iconBase =
    'https://maps.google.com/mapfiles/kml/';
    var icons = {
    robbery: {
      icon: iconBase + "shapes/dollar.png",
    },
    housebreaking: {
      icon: iconBase + "shapes/homegardenbusiness.png",
    },
    police: {
      icon: iconBase + "shapes/police.png",
    },
    discrimination: {
      icon: "/static/scale.png",
    },
    racial_profiling: {
      icon:iconBase +"shapes/caution.png" ,
    },
    customer_service: {
      icon:"/static/customer.png" ,
    },
    car_accident: {
      icon: iconBase + "pal4/icon15.png",
    },
    assault: {
      icon: "/static/punch.png",
    },
  };

    var map;
    
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat:40.712, lng:-74.006 },
            zoom: 12,
        });
        var tempLng = 40.71296489548469;
        var tempLat = -74.00623338293839;

        var infowindow, marker, contentString;
        infowindow = new google.maps.InfoWindow();
        {% for value in values %}
            contentString = 
                '<div>' +
                '<h3> ' + '{{ value.incident }}'+ '</h3>' +
                '<h4> ' + '{{ value.address }}' + '</h3>' +
                '<h4> ' + '{{ value.date }}' + '</h4>' +  
                '<p> '  + '{{ value.description }}' + '</p>' +
                '</div>'
            
            marker = new google.maps.Marker({
                position: new google.maps.LatLng('{{ value.latitude }}', '{{ value.longitude }}'),
                map: map,
                icon: {url:icons['{{value.incident}}'].icon, scaledSize: new google.maps.Size(40,40)},
            });
            marker.content = contentString
            google.maps.event.addListener(marker, 'click', (function(marker) {
                return function() {
                infowindow.setContent(this.content);
                infowindow.open(map, marker);
                }
            })(marker));
            
            
        {%endfor%}
        
        
        // test markers
        /*
        var marker1 = new google.maps.Marker({
        position: new google.maps.LatLng(40.71296489548469, -74.00623338293839),
        map: map,
        icon: {url:icons["assault"].icon, scaledSize: new google.maps.Size(40,40)},
        
        });
        

        var marker = new google.maps.Marker({
        position: new google.maps.LatLng(40.70, -74.00623338293839),
        map: map,
        icon: {url:icons["robbery"].icon, scaledSize: new google.maps.Size(40,40)},
        
        });

        var marker = new google.maps.Marker({
        position: new google.maps.LatLng(40.70, -74.01623338293839),
        map: map,
        icon: {url:icons["discrimination"].icon, scaledSize: new google.maps.Size(40,40)},
        
        });
        // end of marker test
        */

        infoWindow = new google.maps.InfoWindow();
        marker = new google.maps.Marker({map});
        const locationButton = document.createElement("button");
        locationButton.textContent = "Pan to Current Location";
        locationButton.classList.add("custom-map-control-button");
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        locationButton.addEventListener("click", () => {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };
                marker.setPosition(pos);
                map.setCenter(pos);
                },
                () => {
                handleLocationError(true, infoWindow, map.getCenter());
                }
            );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        });
        
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
        
        }


</script>
</div>
{% endblock %}

{% block masthead %} 
<!-- Masthead-->
<header class="mastheadformap">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">BEWARE Map</h1> <br>
            </div>
        </div>
    </div>
    
    <div style="margin: 50px; text-align: center;">
        <form method="POST">
            <input id = "input" class="addy" placeholder = "Enter a Location" type = 'text' name="location">   
        </form>
    </div>
    <div id="map"></div>
    
</header>
<br>

<h2 style="text-align:center;"> Key </h2>
<div style="text-align:center; background-color:white; border: 2px solid black;margin:20px; padding: 20px">
        <img src= 'https://maps.google.com/mapfiles/kml/shapes/dollar.png' > Robbery/Theft &nbsp;&nbsp;
        <img src= 'https://maps.google.com/mapfiles/kml/shapes/homegardenbusiness.png' > House Breaking &nbsp;&nbsp;
        <img src= 'https://maps.google.com/mapfiles/kml/shapes/police.png' > Unwarranted Police Encounters &nbsp;&nbsp;
        <img src= '/static/punch.png' style="width:70px;height:70px" > Assault &nbsp;&nbsp;<br><br>
        <img src= '/static/scale.png' style="width:70px;height:70px" > Discrimination &nbsp;&nbsp;
        <img src= 'https://maps.google.com/mapfiles/kml/pal4/icon15.png' style="width:70px;height:70px"> Car accident &nbsp;&nbsp;
        <img src= '/static/customer.png' style="width:70px;height:70px"> Bad customer service &nbsp;&nbsp;
        <img src= 'https://maps.google.com/mapfiles/kml/shapes/caution.png' > Racial profiling &nbsp;&nbsp;
    </div>
    
{% endblock %}

{% block url %}
<script async src={{url}}></script>
{% endblock %}
