{% extends 'layout.html' %}

{% block bewaremap %}
<script async src={{url}}></script>
<script type="text/javascript">
var map;
function initMap() {
map =  new google.maps.Map(document.getElementById('map'), {
        center: {lat: {{ latitude }}, lng:  {{ longitude }}},
        zoom: 16
    }); 
}
</script>
{% endblock %}

{% block masthead %} 
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Crime Map</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">short description of what it is.</h2>
                <div id="map" style="width:100%; height:500px; border-radius:4px;"></div>
            </div>
        </div>
    </div>
</header>
{% endblock %}