{% extends 'layout.html' %}

{% block input %}
<script>
    let autocomplete;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(document.getElementById("input"), 
        {
            componentRestrictions: {'country': ['us']},
            fields: ['plae_id', 'geometry', 'name']
        });
    }
</script>
{% endblock %}

{% block bewaremap %}
<div style="margin-top: -8em;">
<script type="text/javascript">
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat:40.712, lng:-74.006 },
            zoom: 12,
        });
        infoWindow = new google.maps.InfoWindow();
        marker = new google.maps.Marker({map});
        const locationButton = document.createElement("button");
        locationButton.textContent = "Pan to Current Location";
        locationButton.classList.add("custom-map-control-button");
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        locationButton.addEventListener("click", () => {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };
                marker.setPosition(pos);
                map.setCenter(pos);
                },
                () => {
                handleLocationError(true, infoWindow, map.getCenter());
                }
            );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        });
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
        }
</script>
</div>
{% endblock %}

{% block masthead %} 
<!-- Masthead-->
<header class="mastheadformap">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">BEWARE Map</h1>
            </div>
        </div>
    </div>
    
    <div style="margin: 50px; text-align: center;">
        <form method="POST">
            <input id = "input" class="addy" placeholder = "Enter a Location" type = 'text' name="location">   
        </form>
    </div>
    <div id="map"></div>

</header>
{% endblock %}

{% block url %}
<script async src={{url}}></script>
{% endblock %}
