{% extends 'index.html' %}

{% block masthead %} 
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Crime Map</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">short description of what it is.</h2>
        
            </div>
        </div>
    </div>
</header>
{% endblock %}