{% extends 'layout.html' %}

{% block navbar %} 

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ url_for('home') }}">Beware</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu 
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('beware_map') }}">Beware Map</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block masthead %} 
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">login</h1>
                <form method="POST">

                    {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            <i class="fa fa-envelope"></i>
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        <i class="fas fa-lock"></i>
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                        </div>
                    <br/>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <p style="text-align:center; margin-bottom:15px; margin-top:-15px; color:red;"">{{ messages[-1] }} </p>
                    {% endif %}
                    {% endwith %}

                    <button type="submit" class="btn btn-light">
                        <i class="fa fa-paper-plane"></i>&nbspLogin
                    </button>
                </form>

                <hr width="100%" size="15" noshade style="margin-top: 25px">

                <a href="{{ url_for('register') }}">
                    <button type="submit" class="btn btn-light" style="margin: 25px;">
                    <i class="fa fa-user-plus"></i>&nbspCreate New Account
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>

{% endblock %}
