{% extends 'layout.html' %}

{% block masthead %} 
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Profile</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">This is where you can view your past reports and file a new report.</h2>
                <a class="btn btn-primary" href="{{ url_for('report') }}">Click to report an incident</a>
                <!-- list reports for courtney testing only-->
                {% for item in values %}
                    <p>Location of incident was {{item.address}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</header>
{% endblock %}