{% extends 'layout.html' %}

{% block masthead %} 
<!-- Masthead-->
<style>
</style>
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">

            <div class="text-center" style="margin-top:12em;">
                <h1 class="mx-auto my-0 text-uppercase" style="font-size:4em;">NEW Report</h1>
                <form style="color:white; text-align:left;" method="POST" action="/report">
                  <!-- Search input-->
                  <div class="form-group">
                    <label class="control-label" for="Where?">Where?</label>
                    <div class="col-md-8">
                      <input id="Where?" name="where" type="search" placeholder="123 Sesame Street" class="form-control input-md" required="required" aria-required="true">
                    </div>
                  </div>
                  <!-- Multiple Radios (inline) -->
                  <div class="form-group">
                    <label class="control-label" for="type">Type?</label>
                    <div class="incident-types" style="width:auto; margin-left:10px; margin-right:10px;"> 
                      <label class="radio-inline" for="type-0">
                        <input type="radio" name="type" id="type-0" value="discrimination" checked="checked">
                        Discrimination
                      </label> 
                      <label class="radio-inline" for="type-1">
                        <input type="radio" name="type" id="type-1" value="racial_profiling">
                        Racial Profiling
                      </label> 
                      <label class="radio-inline" for="type-2">
                        <input type="radio" name="type" id="type-2" value="customer_service">
                        Bad Customer Service
                      </label> 
                      <label class="radio-inline" for="type-3">
                        <input type="radio" name="type" id="type-3" value="car_accident">
                        Car Accident
                      </label> 
                      <br>
                      <label class="radio-inline" for="type-4">
                        <input type="radio" name="type" id="type-4" value="robbery">
                        Robbery/ Theft
                      </label> 
                      <label class="radio-inline" for="type-5">
                        <input type="radio" name="type" id="type-5" value="housebreaking">
                        House Breaking
                      </label> 
                      <label class="radio-inline" for="type-6">
                        <input type="radio" name="type" id="type-6" value="assault">
                        Assault
                      </label>  
                      <label class="radio-inline" for="type-7">
                        <input type="radio" name="type" id="type-8" value="police">
                        Unwarranted Police Encounter
                      </label>
                    </div>
                  </div>
                  <!-- Date -->
                  <div class="formbuilder-date form-group field-date">
                    <label for="date" class="formbuilder-date-label">When<span class="formbuilder-required"></span></label>
                    <input type="date" class="date" name="date" access="false" id="date" required="required" aria-required="true">
                  </div>
                  <!-- Textarea -->
                  <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="col-md-4">                     
                      <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                  </div>
                  <!-- Button -->
                    <!-- keep this button inside the form tag -->
                    <label class="control-label" for="Submit"></label>
                    <div class="col-md-4">
                      <button id="Submit" name="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <!-- Back To Profile Button -->
                    <label class="control-label" for="Submit"></label>
                    <div class="col-md-4">
                      <a id="Back" name="Back" class="btn btn-primary" href="{{ url_for('profile') }}">Back to Profile</a>
                    </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
